<div class="container text-center card">
   <h1>Title:<%= @event.title %></h1>
        <h3 class = 'text-muted'>Host: <%= @event.creator.name %></h3>
        <h1>Attendee:</h1>
        <% @attendees.each do |attendee| %>
        <p><%= attendee.name %></p>
        <% end %>
    <hr>
    <% if current_user %>
    <p><%= link_to 'New event', new_event_path, class: 'btn btn-success' %></p>
    <% end %>
    <p><%= link_to 'Home', root_path, class: 'btn btn-warning' %></p>
</div>

