<header class="navbar navbar-dark bg-secondary ">
<div class="container">
<%= link_to "Private Event", root_path, class: "font-weight-bold text-white" %>
<p class="navbar-text float-right">
<% if logged_in? %>
 <span class= "text-white">Welcome:</span> <%= link_to current_user.name, user_path(current_user), :class => 'navbar-link'  %> 
  <%= link_to "Logout", logout_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", signup_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", login_path, :class => 'navbar-link'  %>
<% end %>
</p>
</div>
</header>